.stats {
  text-align: center;
  padding: 10px 10px;

  h2 {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .subtitle {
    color: #666;
    margin-bottom: 10px;
  }
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 10px;
}

.stat-card {
  background: #e8e9eb;
  border-radius: 16px;
  padding: 16px 16px;
  text-align: left;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-bottom: 24px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 28px;
      color: #333;
    }
  }

  h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  p {
    color: #777;
    font-size: 14px;
    margin: 0px;
  }
}