<nav class="navbar">
    <div class="logo">{{ brandName }}</div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About Us</a></li>
    </ul>

    <div class="flex items-center gap-4">
        <button class="contact-button hidden md:inline-flex">Contact Us</button>

        <button (click)="toggleMenu()" class="md:hidden text-white p-1">
            <svg xmlns="http://w3.org" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                @if (!isMenuOpen()) {
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                } @else {
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                }
            </svg>
        </button>
    </div>
</nav>

<div 
  class="fixed top-16 right-4 w-flex z-[9999]
         flex flex-col items-start 
         bg-[#000000] text-white
         p-5 space-y-4
         rounded-2xl shadow-2xl
         transition-all duration-300 ease-in-out origin-top-right"
  
  [class.scale-100]="isMenuOpen()"
  [class.opacity-100]="isMenuOpen()"
  [class.scale-95]="!isMenuOpen()"
  [class.opacity-0]="!isMenuOpen()"
  [class.pointer-events-none]="!isMenuOpen()"
>
  <a href="#" (click)="toggleMenu()">Home</a>
  <a href="#" (click)="toggleMenu()">Service</a>
  <a href="#" (click)="toggleMenu()">Blog</a>
  <a href="#" (click)="toggleMenu()">About Us</a>
</div>

<a 
  href="tel:+919999999999"
  class="fixed bottom-6 right-6 z-[9999]
         flex items-center justify-center
         w-14 h-14 rounded-full
         bg-[#c6f54a] text-[#004526]
         shadow-xl
         md:hidden
         transition-transform duration-300 hover:scale-110 active:scale-95"
>
  <!-- Phone Icon -->
  <svg xmlns="http://www.w3.org/2000/svg" 
       class="h-6 w-6" 
       fill="none" 
       viewBox="0 0 24 24" 
       stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 5a2 2 0 012-2h2.28a2 2 0 011.94 1.515l.516 2.064a2 2 0 01-.45 1.94l-1.27 1.27a16.001 16.001 0 006.586 6.586l1.27-1.27a2 2 0 011.94-.45l2.064.516A2 2 0 0121 16.72V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
  </svg>
</a>
