<section class="stats">
    <h2>Trusted by everyone</h2>
    <p class="subtitle">
        Inspiring growth, innovation, and sustainability for a better future in farming
    </p>

    <div class="stats-container">
        @for (stat of stats; track stat) {
        <div class="stat-card">
            <div class="icon">
                <mat-icon>{{ stat.icon }}</mat-icon>
            </div>
            <h3>{{ stat.value }}</h3>
            <p>{{ stat.label }}</p>
        </div>}
    </div>
</section>